<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<connectionStrings>
		<add name="CompuStoreDBEntities" connectionString="metadata=res://*/Database.Models.CompuStoreModel.csdl|res://*/Database.Models.CompuStoreModel.ssdl|res://*/Database.Models.CompuStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kitaz.database.windows.net;initial catalog=CompuStoreDB;persist security info=True;user id=kitaz;password=p@ssword123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="CompuStoreDBEntities_Backup" connectionString="metadata=res://*/Database.Models.CompuStoreModel.csdl|res://*/Database.Models.CompuStoreModel.ssdl|res://*/Database.Models.CompuStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; initial catalog=CompuStoreDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>